<div class="app-layout">
  <!-- Header -->
  <header class="navbar">
    <div class="container nav-container">
      <a routerLink="/" class="nav-logo">DocMind</a>
      <nav class="nav-links">
        <a 
          routerLink="/upload" 
          routerLinkActive="active"
          class="nav-link"
        >
          <i class="fas fa-upload"></i> Upload
        </a>
        <a 
          routerLink="/history" 
          routerLinkActive="active"
          class="nav-link"
        >
          <i class="fas fa-history"></i> Historique
        </a>
        <a routerLink="/analysis" routerLinkActive="active" class="nav-link">
  <i class="fas fa-brain"></i> Analyse
</a>
     <a routerLink="/chatbot" routerLinkActive="active" class="nav-link">
  <i class="fas fa-brain"></i> chatbot
</a>

      </nav>
    </div>
  </header>

  <!-- Main Content -->
  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p class="text-center">
        &copy; 2025 DocMind. Tous droits réservés.
      </p>
    </div>
  </footer>
</div>